/*colors */

:root {
    --bg: #eee2dc;
    --banner: #ac3b61;
    --accent1: #edc7b7;
    --accent2: #bab2b5;
    --accent3: #123c69;
    --text: #fff;
  }
  
  /*Global Settings */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body,
  .wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--bg);
  }
  
   
  #topBanner {
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    margin: 0 0 20px 0;
    background: var(--accent1);
    font-size: xx-large;
  }

.padding {
  padding: 10px;
  margin: 0;
}

img {
  height: 20px;
  width: 20px;
}

h2 {
  font-size: x-large;
  color: var(--text);
}

.topBox {
  background: var(--accent3);
}

#bottomBox {
  background: var(--accent1);
  padding: 20px 0;
  margin: 20px 0;
}